<!DOCTYPE html>
<html lang="en">


<a type="button" class="btn btn-default" href="/auth">Login</a>
<a type="button" class="btn btn-default" href="/logout">Logout</a>

<hr>

<a type="button" class="btn btn-default" href="/index">Home</a>
<a type="button" class="btn btn-default" href="/playlists">List Tracks and Playlists</a>
<a type="button" class="btn btn-default" href="/playlists/accused">Check Accused</a>

<hr>


<h1>{{title}}</h1>

{% for plist in resp['items'] %}

    <h2>{{plist.name}}</h2>

    {% for track in plist['songs']['items'] %}


            <a>{{track.track.name}}</a>

            {% for artist in track.track.artists %}

                <a> - {{artist.name}}</a>

            {% endfor %}
        <br>

    {% endfor %}

{% endfor %}


</html>